@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);
  }

.product_card {
  position: relative;
  max-width: 355px;
  width: 100%;
  border-radius: 25px;
  padding: 20px 30px 30px 30px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  overflow: hidden;
}
.product_card .logo_cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_card .logo_cart img{
  height: 60px;
  width: 60px;
  object-fit: cover;
}
.product_card .logo_cart i{
  font-size: 27px;
  color: #707070;
  cursor: pointer;
  transition: color 0.3s ease;
}
.product_card .logo_cart i:hover{
  color: #333;
}
.product_card .main_images{
  position: relative;
  height: 210px;
}
.product_card .main_images img{
  position: absolute;
  height: 300px;
  width: 300px;
  object-fit: cover;
  transform: rotate(18deg);
  left: 12px;
  top: -40px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.product_card .main_images img.active{
  opacity: 1;
}
.product_card .shoe_details .shoe_name{
  font-size: 24px;
  font-weight: 500;
  color: #161616;
}
.product_card .shoe_details p{
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-align: justify;
}
.product_card .shoe_details .stars i{
  margin: 0 -1px;
  color: #333;
}
.product_card .color_price .color_option{
  display: flex;
  align-items: center;
}
.color_price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.color_price .color_option .color{
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-right: 8px;
}
.color_option  .circles{
  display: flex;
}
.color_option  .circles .circle{
  height: 18px;
  width: 18px;
  background: #0071C7;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.color_option  .circles .circle.blue.active{
  box-shadow: 0 0 0 2px #fff,
               0 0 0 4px #0071C7;
}
.color_option  .circles .circle.pink{
  background: #FA1795;
}
.color_option  .circles .circle.pink.active{
  box-shadow: 0 0 0 2px #fff,
               0 0 0 4px #FA1795;
}
.color_option  .circles .circle.yellow{
  background: #F5DA00;
}
.color_option  .circles .circle.yellow.active{
  box-shadow: 0 0 0 2px #fff,
               0 0 0 4px #F5DA00;
}
.color_price .price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color_price .price .price_num{
  font-size: 25px;
  font-weight: 600;
  color: #707070;
}
.color_price .price .price_letter{
  font-size: 10px;
  font-weight: 600;
  margin-top: -4px;
  color: #707070;
}
.product_card .button{
  position: relative;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  margin-top: 30px;
  overflow: hidden;
}
.product_card .button .button_layer{
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  background-image: linear-gradient(135deg,#9708CC, #43CBFF,#9708CC, #43CBFF );
  transition: all 0.4s ease;
  border-radius: 25PX;
}
.product_card .button:hover .button_layer{
  left: 0;
}
.product_card .button button{
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}
