*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    height: 100%;
    width: 78px;
    position: fixed;
    background-color: #11101d;
    top:0;
    left: 0;
    padding: 6px 14px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.sidebar.active{
    width: 240px;
}
.sidebar.active #btn{
    left: 90%;
}
.sidebar ul li .fa-search:hover{
    background: #fff;
    color: #1d1b31;
   }
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;

}
.sidebar .logo_content .logo{
    white-space: nowrap;
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}


.logo_content .logo i{
    font-size: 25px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 16px;
    font-weight: 400;
   }
   .sidebar #btn{
    position: absolute;
     color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
   }

   .sidebar ul{
    margin-top: 20px;
}
   .sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 50px;

   }
   .nav_list li{
       margin: 5px 0px;
   }
.sidebar ul li .tooltip{
    position: absolute;
    height: 35px;
    width: 125px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    left: 125px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    line-height: 35px;
    text-align: center;
    transition: 0s;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease-in-out;
    top: 50%;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
   .sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
}
.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
     left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
     color: #fff;
   }

   .sidebar ul li .fa-search{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 18px;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

   .sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
   }
   .sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background-color: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
   }
   .sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
   }
   .profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
   .profile .profile_details .name_job{
    margin-left: 10px;
}
   .profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}
   .profile .profile_details .job{
    font-size: 12px;
}

.profile #log_out{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    background: #1d1b31;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.sidebar.active .profile #log_out{
    left: 88%;
}

.home_content{
    position: absolute;
    height: 100%;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.home_content .text{
    font-size: 25px;
    font-weight: bold;
    color: #1d1b31;
    margin: 12px;
}

.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.sidebar.active .profile_content .profile{
    background: none;
   }
.sidebar.active .profile #log_out{
    background: #1d1b31;
}